# Database
db.sqlite3

# DB Browser for SQLite project files (The XML file you shared)
*.sqlb_project

# Python/Django
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Environment Variables
.env

# Media & Static (Optional)
# Often we don't upload user-uploaded images to GitHub
/media/

# IDEs
.vscode/
.idea/